
alias gohome='cd ~; clear'

alias aliases='cat $HOME/.dotfiles/system/.aliases'

alias sendhdmiright='xrandr --output HDMI1 --auto --right-of LVDS1'
alias sendhdmiabove='xrandr --output HDMI1 --auto --above LVDS1'
alias sendvgaabove='xrandr --output VGA1 --auto --above LVDS1'
alias disconnectscreens='xrandr --output VGA1 --off --output HDMI1 --off'

# Python 3 quickly:
alias pc='python3'

# A better nano experience:
alias nano='nano -wl -$'

# A concise way of upgrading packages:
alias upgrade='sudo apt update && sudo apt upgrade && sudo apt autoremove'

# Running GNOME control center:
alias controlcenter='env XDG_CURRENT_DESKTOP=GNOME gnome-control-center'

# WIFI controls:
alias wifi='wicd-client'

# Suspend:
alias suspend='systemctl suspend'

# Common git commands:
alias gaa='git add .'
alias gp='git push'

# Copy to/from clipboard:
alias "c=xclip"
alias "v=xclip -o"
alias "cs=xclip -selection clipboard"
alias "vs=xclip -o -selection clipboard"

# Perform 'ls' after 'cd' if successful:
cdls() {
	builtin cd "$*"
	RESULT=$?
	if [ "$RESULT" -eq 0 ]; then
		pwd
		ls
	fi
}
